<div class="flex justify-center flex-wrap gap-8">
    <div class="max-w-xs rounded overflow-hidden shadow-lg">
        <img class="w-full" srcset="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sunset in the mountains">
        <div class="flex justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Renacer</div>
        </div>
    </div>
    
    <div class="max-w-xs rounded overflow-hidden shadow-lg">
        <img class="w-full" srcset="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sunset in the mountains">
        <div class="flex justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Renacer</div>
        </div>
    </div>

    <div class="max-w-xs rounded overflow-hidden shadow-lg">
        <img class="w-full" srcset="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sunset in the mountains">
        <div class="flex justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Renacer</div>
        </div>
    </div>

    <div class="max-w-xs rounded overflow-hidden shadow-lg">
        <img class="w-full" srcset="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sunset in the mountains">
        <div class="flex justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Renacer</div>
        </div>
    </div>

    <div class="max-w-xs rounded overflow-hidden shadow-lg">
        <img class="w-full" srcset="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sunset in the mountains">
        <div class="flex justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Renacer</div>
        </div>
    </div>
</div>
