<mat-drawer-container class="w-full h-screen">
  <mat-drawer
    class="w-[50%] md:w-[30%] lg:w-[20%] xl:w-[16%] bg-slate-400"
    [opened]="isSidenavOpen"
    [mode]="sidenavMode"
    (closed)="isSidenavOpen=false"
  >
    <div class="flex justify-center p-5 ">
        <span class="font-bold">AhorraPlus</span>
    </div>
    <hr>
  </mat-drawer>
  <mat-drawer-content class="bg-blue-200">
    <mat-toolbar>
      
      <button
        class="md:hidden flex items-center p-2 hover:bg-gray-200 rounded-3xl"
        (click)="openSidenav()"
      >
        <mat-icon>menu</mat-icon> 
      </button>
      <span class="example-spacer"></span>
      <button
        class="flex items-center p-2 hover:bg-gray-200 rounded-3xl"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        class="flex items-center p-2 hover:bg-gray-200 rounded-3xl"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <p class="text-blue-500">Contenio Principal</p>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
